html {
  --green-color: #56ff56;
  --black-color-100: #000000;
  --black-color-80: #333333;
  --black-color-70: rgba(34, 60, 80, 0.2);
  --black-color-60: #615f5f;
  --white-color-100: #ffffff;
  --white-color-70: #fdfcff33;
  --green-color-dark: #4c6549;
  --blue-color-dark: #363363;
  

  --color-main-on-dark-font: var(--green-color);
  --color-main-on-white-font: var(--black-color-80);

  --color-main-on-dark-hover: var(--white-color-70);
  --color-main-on-white-hover: var(--black-color-70);

  --color-background: var(--white-color-100);

  --font-size-s: 0.75em;
  --font-size-m: 1em;
  --font-size-l: 1.333em;
  --font-size-xl: 1.777em;
  --font-size-xl: 2.369em;

  --gap-s: 5px;
  --gap-m: 10px;
  --gap-l: 15px;
  --gap-xl: 20px;
}

html .app[data-theme='dark'] {
  --color-background: var(--blue-color-dark);
  --color-main-on-white-font: var(--white-color-100);
  --color-main-on-white-hover: var(--white-color-70);
}