@import '../../styles/vars.css';

.login {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
    padding: var(--gap-xl);

    label {
      font-size: var(--font-size-m);
      color: var(--color-main-dark-theme-font);
      margin-top: var(--gap-xl);
    }

    input {
      height: 24px;
      margin-top: var(--gap-m);
    }

    button {
      margin-top: var(--gap-xl);
      border-radius: 3px;
      background: #56ff56;
      color: black;
      padding: var(--gap-m);
      outline: none;
      border: 1px blue solid;
      cursor: pointer;
    }
  }
}