@import '../../../styles/vars.css';

.channel {
  display: flex;
  flex-direction: column;
  border: 1px var(--color-main-on-white-font) solid;
  border-radius: 3px;
  padding: 1em;
  cursor: pointer;
  color: var(--color-main-on-white-font);

  &:hover {
    box-shadow: 4px 4px 8px 0px var(--color-main-on-white-hover);
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }

  &__params {
    font-size: 1rem;
  }
}