@import '../../../styles/vars.css';

.channel {
  display: flex;
  flex-direction: column;
  border: 1px var(--color-main-on-white-font) solid;
  border-radius: 3px;
  padding: 1em;
  cursor: pointer;
  color: var(--color-main-on-white-font);
  background: rgb(255 255 255 / 20%);
  max-width: 600px;
  flex: 1 1 auto;
  box-shadow: 2px 1px 7px 2px #e8e8e8;

  &:hover {
    box-shadow: 4px 4px 8px 0px var(--color-main-on-white-hover);
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }

  &__params {
    font-size: 1rem;
  }
}