@import '../../styles/vars.css';

.channel-details-page {
  padding: 20px;

  &__title {
    margin: 10px 0;
    color: var(--color-main-on-white-font);
    text-align: center;
  }

  &__list {
    padding-inline-start: 0;

    li {
      height: 1.8em;
      line-height: 1.8em;
      margin-top: 5px;
      border: 1px var(--color-main-on-white-font) solid;
      padding: 5px;
      border-radius: 5px;
      list-style: none;
      max-width: 600px;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &:hover {
        box-shadow: 4px 4px 8px 0px var(--color-main-on-white-hover);
      }

      a {
        font-size: 1.1em;
        color: var(--color-main-on-white-font);
      }
    }
  }
}
.active {
  background: red !important;
}