@import '../../styles/vars.css';

.channels-page {
  min-height: 100%;
  padding-top: var(--gap-xl);
  box-sizing: border-box;

  &__title {
    text-align: center;
    margin-top: 0;
    color: var(--color-main-on-white-font);
  }

  &__content {
    li {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
  
    .channel {
      margin: 1rem;
    }
  }

  &__list {
    padding-inline-start: 0;
  }
}